config.help
#config.vhd.h
lconfig.tk
main.tk
tkcond.o
tkconfig.h
tkgen.o
tkparse.exe
tkparse.o
.config.old
config.h
config.vhd
/vivado
alibs.do
cds.lib
compile.asim
compile.dc
compile.ncsim
compile.rc
compile.simv
compile.synp
compile.vsim
compile.xst
fmref.tcl
ghdl.path
hdl.var
leon3.bit
leon3.bin
leon3.lct
leon3.ldf
leon3.msk
leon3.npl
leon3.syn
leon3.xise
leon3_designer.tcl
leon3_designer_act.tcl
leon3_files.prj
leon3_ise.tcl
leon3_nanoxmap.py
leon3_nanoxpython.py
leon3_precision.tcl
leon3_precrun.tcl
leon3_quartus.qpf
leon3_quartus.qsf
leon3_rtl_fpro.fl
leon3_synplify.npl
leon3_synplify.qpf
leon3_synplify.qsf
leon3_synplify_win32.npl
leon3_win32.npl
libs.do
libs.txt
make.asim
make.asim-addfile
make.ghdl
make.ncsim
make.riviera
make.simv
make.vsim
modelsim.ini
planahead/
riviera_ws_create.do
scriptgen_variable_values.tcl
scriptgendone
synopsys_sim.setup
testbench.mpf
vcs_libs
*.jou
*.log
*.bak
/xilinx_lib
*.str
/scriptgenwork
/.Xil
.bin_file_getting_generated
board_files/bscan_spi_xc7a35t.bit
